# MacOS files
.DS_Store

# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/
/broadcast
/artifacts
/typechain

# Dotenv file
.env

# Node files
node_modules

# vscode
.vscode
